{% extends 'base.html' %} {% block head %}
<title>Task Remainder App - Update</title>
{% endblock %} {% block body %}
<div class="content">
  <div class="glass_container">
    <h2 class="app_tittle">Task Update</h2>
    <form class="task_form" action="/update/{{task.id}}" method="POST">
      <input type="text" name="content" id="content" value="{{task.content}}" />
      <input
        type="text"
        name="comment"
        id="comment"
        value="{{task.comments}}"
      />
      <input type="submit" value="Update" />
    </form>
  </div>
  <a target="_blank" href="https://github.com/ityrpak/SimpleToDoCRUD"
    ><img src="/static/img/github-logo2.png" alt=""
  /></a>
</div>
{%endblock %}
